html
    head
     title Chrome Proxy
    body
        div#app
        div(style="margin-bottom: 1em" id="proxy-holder")
        label
            input(type="checkbox" id="proxy" checked="checked")
            | Configure proxy
    button#start Start
    button#stop Stop
    #status
    script(src="index.js")
